<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">table de produits</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                      id
                                    </th>
                                    <th>
                                      name
                                    </th>
                                   
                                </thead>
                                <tbody>
                                  <tr *ngFor="let v of listview ">
                                      <td>{{v.id}}</td>
                                      <td>{{v.name}}</td>
                                      
                                  </tr>
                              </tbody>
                              </table>
                              </div>
                              </div>
                              </div>
            </div>
        </div>
        </div>
        </div>